html {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 140px;
  background-color: lightgrey;
}

main {
  position: relative;
}
main h2 {
  text-align: center;
  margin: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  transition: transform 0.1s;
}
.card-container .card:hover {
  transform: scale(1.02);
}
.card-container .card span {
  font-size: 60px;
}
.card-container .card h5 {
  font-size: 20px;
  margin: 0;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.score-container .playerName {
  color: blueviolet;
}
.score-container .computerName {
  color: orangered;
}
.score-container .playerName,
.score-container .computerName {
  width: 180px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}
.score-container .computerName {
  text-align: right;
}
.score-container .playerScore,
.score-container .computerScore {
  font-size: 20px;
  font-weight: 600;
}
.score-container .vertical-line {
  width: 2px;
  height: 30px;
  background-color: black;
}

.gameOver-container {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.gameOver-container .gameOver-text {
  position: absolute;
  top: -330px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 200px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  font-size: 120px;
  margin: 40px;
  text-transform: uppercase;
}
.gameOver-container .resetBtn {
  margin-top: 80px;
  padding: 20px 40px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid black;
}
.gameOver-container .resetBtn:hover {
  background-color: red;
  cursor: pointer;
}
.gameOver-container .resetBtn:active {
  background-color: transparent;
  color: red;
  border: 2px solid red;
}

.result-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: -20px;
  top: 150px;
  height: 200px;
  width: calc(100% + 40px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.result-container .result-text {
  margin: 0;
  text-align: center;
  font-size: 50px;
}
.result-container .result-value {
  margin-top: 0;
  font-size: 40px;
}
.result-container .continueBtn {
  position: absolute;
  top: 289px;
  margin-top: 80px;
  padding: 20px 40px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid black;
}
.result-container .continueBtn:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
.result-container .continueBtn:active {
  background-color: transparent;
  color: green;
  border: 2px solid green;
}

.winner {
  color: red;
  font-size: 80px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playerActive {
  color: blueviolet;
}

.computerActive {
  outline: 4px solid orangered !important;
}/*# sourceMappingURL=style.css.map */