html {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 140px;
  background-color: lightgrey;
}

main {
  position: relative;
}
main h2 {
  text-align: center;
  margin: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  transition: transform 0.1s;
}
.card-container .card:hover {
  transform: scale(1.02);
}
.card-container .card span {
  font-size: 60px;
}
.card-container .card h5 {
  font-size: 20px;
  margin: 0;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.score-container .playerName {
  color: blueviolet;
}
.score-container .computerName {
  color: orangered;
}
.score-container .playerName,
.score-container .computerName {
  width: 180px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}
.score-container .computerName {
  text-align: right;
}
.score-container .playerScore,
.score-container .computerScore {
  font-size: 20px;
  font-weight: 600;
}
.score-container .vertical-line {
  width: 2px;
  height: 30px;
  background-color: black;
}

.gameOver-container {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.gameOver-container .gameOver-text {
  position: absolute;
  top: -330px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 200px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  font-size: 120px;
  margin: 40px;
  text-transform: uppercase;
}
.gameOver-container .resetBtn {
  margin-top: 80px;
  padding: 20px 40px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid black;
}
.gameOver-container .resetBtn:hover {
  background-color: red;
  cursor: pointer;
}
.gameOver-container .resetBtn:active {
  background-color: transparent;
  color: red;
  border: 2px solid red;
}

.result-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: -20px;
  top: 150px;
  height: 240px;
  width: calc(100% + 40px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.result-container .result-text {
  margin: 0;
  text-align: center;
  font-size: 50px;
}
.result-container .result-value {
  margin-top: 0;
  font-size: 40px;
}
.result-container .continueBtn {
  position: absolute;
  top: 289px;
  margin-top: 80px;
  padding: 20px 40px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid black;
}
.result-container .continueBtn:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
.result-container .continueBtn:active {
  background-color: transparent;
  color: green;
  border: 2px solid green;
}

.winner {
  color: red;
  font-size: 80px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playerActive {
  color: blueviolet;
}

.computerActive {
  outline: 4px solid orangered !important;
}

.scale {
  transform: scale(1.1);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  opacity: 0.1;
}
.animation h5 {
  margin: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 80px;
  height: 80px;
  -webkit-animation: animate 15s linear infinite;
          animation: animate 15s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 30%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.circles li:nth-child(2) {
  left: 10%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 50%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.circles li:nth-child(4) {
  left: 70%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}

.circles li:nth-child(5) {
  left: 90%;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(6) {
  left: 60%;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}

@-webkit-keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */